.wrapper {
  width: 100%;

  .title {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .buttons {
    float: right;
    margin-top: 10px;
  }

  .w-100 {
    width: 100%;
  }
}
