<div class="wrapper">
  <div class="streamid"><b>Stream ID:</b> {{ streamid }}</div>

  <div class="todo-streams">
    <div class="todo-stream created-stream">
      <div class="streams-title">Created</div>
      <div class="todo-item" *ngFor="let item of items">
        <div class="todo-header">
          <div class="todo-title">{{ item.name }}</div>
          <div class="todo-due">Due: {{ item.dueDate }}</div>
        </div>

        <div class="todo-body">{{ item.body }}</div>
      </div>
    </div>

    <div class="todo-stream shared-stream">
      <div class="streams-title">Shared with you</div>
      <div class="todo-item" *ngFor="let item of items">
        <div class="todo-header">
          <div class="todo-title">{{ item.name }}</div>
          <div class="todo-due">Due: {{ item.dueDate }}</div>
        </div>

        <div class="todo-body">{{ item.body }}</div>
      </div>
    </div>
  </div>

  <div class="controls">
    <button
      mat-fab
      class="control create"
      aria-label="Create"
      (click)="create()"
    >
      <fa-icon [icon]="plus"></fa-icon>
    </button>

    <button
      mat-fab
      class="control refresh"
      aria-label="refresh"
      (click)="refresh()"
    >
      <fa-icon [icon]="refresh"></fa-icon>
    </button>

    <button
      mat-fab
      class="control logout"
      aria-label="Logout"
      (click)="logout()"
    >
      <fa-icon [icon]="logout"></fa-icon>
    </button>
  </div>
</div>
